<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Markdown Notebook</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>

  <div id="notebook">
    <section class="main">
      <textarea v-model="content" name="" id="" cols="30" rows="10" placeholder="This is a note."></textarea>
    </section>
    <aside class="preview" v-html="notePreview"></aside>

    <aside class="side-bar"></aside>
    <input v-model="title" type="text" placeholder="title">
    <button @click="addToDeck">save</button>
    <select v-model="favorite" name="" id="">
      <option value="false">false</option>
      <option value="true">true</option>
    </option></select>
    <input type="radio" name="favorite" id="" value="favorite">

    <!-- <button @click="purgeStorage">purge</button> -->
    <section class="main">
      <ul>
        <li v-for="(n, i) in notes">
          <div>
            <strong><span>title:</span></strong>
            <span>{{n.title}}</span>
          </div>
          <div>
            <strong><span>content:</span></strong>
            <span>{{n.content}}</span>
          </div>
          <div>
            <strong><span>date:</span></strong>
            <span>{{new Date(n.created).toLocaleTimeString()}}</span>
          </div>
          <div>
            <strong><span>favorite:</span></strong>
            <span>{{n.favorite}}</span>
          </div>
        </li>
      </ul>

    </section>
  </div>

  <script src="https://unpkg.com/marked"></script>
  <script src="main.js"></script>

</body>
</html>