<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Markdown Notebook</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>

  <div id="notebook">
    <aside class="side-bar">
      <div class="toolbar">
        <button @click="addNote" :title="addButtonTitle">
          <i class="material-icons">add</i> Add note
        </button>
      </div>
      <div class="notes">
        <div
          class="note"
          v-for="(n, i) in notes"
          @click="selectNote(n.id)"
          :class="{ selected: n === selectedNote }"
          >
          {{n.title}}
        </div>
      </div>
    </aside>

    <section class="main">
      <textarea
        v-if="selectedNote"
        v-model="selectedNote.content"
        placeholder="This is a note.">
      </textarea>
    </section>
    <aside class="preview" v-html="notePreview"></aside>
    <!-- <button @click="purgeStorage">purge</button> -->
  </div>

  <script src="https://unpkg.com/marked"></script>
  <script src="main.js"></script>

</body>
</html>